// Міксини переходів та анімації-----------------------------
// Міксин для transition
@mixin transition ($props...) {
    -webkit-transition-property: $props;    
    -o-transition-property: $props;    
    transition-property: $props;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
       transition-duration: 250ms; 
  -webkit-transition-timing-function: $timing-function; 
    -o-transition-timing-function: $timing-function; 
       transition-timing-function: $timing-function;
  }
  
  // Міксин властивостей трансформації
  @mixin transform($transforms...) {
    // combine the passed transforms into a space separated list
    $transform-list: join($transforms, null, space);
  
    // print out the transforms 
    -webkit-transform: $transform-list;
       -moz-transform: $transform-list;
        -ms-transform: $transform-list;
         -o-transform: $transform-list;
            transform: $transform-list;
  }