.page {
  box-sizing: border-box;
  font-family: $text-font-stack;
  color: getColor('text-primary');
  background-color: getColor('background-primary');
  
  &.modal-open {
      overflow: hidden;
    }
}
  
  .page__backdrop {
    @include centeredAbsolute($position: fixed, $width: 100%,
    $height: 100%, $top: 0, $left: 0);
  }

  .page__modal-container {
    @include absolute(top 93px left 50%);

    @include respondTo('large') {
      top: 50%;
    }
  }