.section {
    padding: 60px 0;
    
    @include respondTo('large') {
        padding: 94px 0;
    }

    &.features {
        @include respondTo('large') {
            padding-bottom: 0;
        }
    }

    &.activity {
        @include respondTo('pre-large') {
            display: none;
        }

        @include respondTo('large') {
            padding-bottom: 94px;
        }
    }

    &.team {
        background-color: getColor('background-tertiary');
    }

    &.page-footer {
        background-color: getColor('background-secondary');
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.title {
    @extend %margin-padding-reset;
    @include fontType($size: 28px, $align: center);
    margin-bottom: 30px;

    @include respondTo('large') {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.button {
    @include buttonPrimary();
    @include centeredFlex();
    margin: 0 auto;

    @include hoFus {
        background-color: getColor('primary-button-hover');
    }
}