.section {
    @include padding(60px, null, 60px, null);
    
    @include respondTo('large') {
        @include padding(94px, null, 94px, null);
    }

    &.features {
        @include respondTo('large') {
            padding-bottom: 0;
        }
    }

    &.activity {
        @include respondTo('pre-large') {
            display: none;
        }

        @include respondTo('large') {
            padding-bottom: 94px;
        }
    }

    &.team {
        background-color: getColor('background-tertiary');
    }

    &.page-footer {
        background-color: getColor('background-secondary');
        @include padding(60px, null, 60px, null);
    }
}

.title {
    @extend %margin-padding-reset;
    @include fontType($size: 28px, $align: center);
    @include margin(null, null, 30px, null);

    @include respondTo('large') {
        font-size: 36px;
        @include margin(null, null, 50px, null);
    }
}

.button {
    @include buttonPrimary();
    @include centeredFlex();
    @include margin(0, auto, 0, auto);
}