.activity__list {
    @include flexList();
    gap: 30px;
}

.activity__thumb {
    position: relative;
    overflow: hidden;
  
    @include centeredFlex();
  
    z-index: -1;

    &::before {
        @include pseudo();
        bottom: 0;
      
        height: 70px;
      
        background-color: getColor('background-activity-label');
    }
}

.activity__label {
    @include textUpperCase($color: getColor('text-tertiary'), $mb: 0);
    position: absolute;
    bottom: 0;

    padding: 27px 0;
}