.address {
    font-style: normal; 
}

.address__list {
    @extend %list;

    @include respondTo('pre-little') {
        text-align: center;
    }
}
.address__item {

    @include respondTo('large') {
        width: 231px;
    }
}
.address__link {
    @include link($display: inline-block, $color: getColor('text-footer-contacts'));
    @include fontType($weight: 400, $size: 14px, $lh: 1.714);
    transition: color 250ms $timing-function;

    @include hoFus {
        color: getColor('accent');
    }

    &--map {
        margin-bottom: 8px;
        color: getColor('text-tertiary');

        @include respondTo('large') {
            margin-bottom: 9px;
        }
    }

    &--mail {
        margin-bottom: 8px;

        @include respondTo('large') {
            margin-bottom: 9px;
        }
    }
}