.address {
    font-style: normal; 
}

.address__list {
    @extend %list;

    @media screen and (max-width: 479px) {
        text-align: center;
    }
}
.address__item {

    @media screen and (min-width: 1200px) {
        width: 231px;
    }
}
.address__link {
    @include link($display: inline-block, $color: getColor('text-footer-contacts'));
    @include fontType($weight: 400, $size: 14px, $lh: 1.714);
    
    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: getColor('accent');
    }

    &--map {
        margin-bottom: 8px;
        color: getColor('text-tertiary');

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }

    &--mail {
        margin-bottom: 8px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }
}