.backdrop {
    background-color: getColor('background-modal-overlay');
  
    opacity: 1;
    @include transition(opacity, visibility);

    &.is-hidden {
        @extend %is-hidden;
    }

    @include respondTo('pre-large') {
        padding: 94px 15px;
        overflow-y: scroll;
    }
}

