.checkbox__label {
    @include centeredFlex();
    @extend %margin-padding-reset;
    @include fontType($weight: 400, $size: 12px, $color: getColor('text-secondary'));

    @include respondTo('large') {
        font-size: 14px;
        line-height: 1.714;
    }
}

.checkbox__input {
    @extend %appearance;
}

.checkbox__icon {
    display: inline-block;
    @include margin(null, 7px, null, null);

    @include borderStyle($width: 2px, $color: getColor('border-checkbox'), $rad: 3px);
    @include transition(background-color);

    .checkbox__input:checked + & {
        border: none;
        background-color: getColor('accent');
    }
}

.checkbox__contract-terms {
    @include link(inline-block, underline, getColor('accent'));
}