.clients {
  padding: 60px 0;

  @include respond-to('desktop') {
    padding: 94px 0;
  }
}

.clients__title {
    @extend %margin-padding-reset;
    @include fontType($size: 28px, $align: center);
    margin-bottom: 30px;

    @include respond-to('desktop') {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  .clients__list {
    @extend %list;
    @include centeredFlex();
    flex-wrap: wrap;
    gap: 30px;

    @include respond-to('desktop') {
      flex-wrap: nowrap;
    }
  }

  .clients__item {
    width: calc((100% - 30px) / 2);

    @include respond-to('tablet') {
      width: calc((100% - 60px) / 3);
  }

  @include respond-to('desktop') {
      width: calc((100% - 90px) / 4);
  }
  }

.clients__logo {
    @include centeredFlex();
    height: 92px; 
    // ??????
  
    border: 1px solid getColor('link-nonactive');
    border-radius: 4px;
    color: getColor('link-nonactive');
  
    transition: border 250ms $timing-function,
      color 250ms $timing-function;

      &:hover, &:focus {
        border-color: getColor('accent');
        color: getColor('accent');
      }
}

.clients__icon {
    fill: currentColor;
}
