.contacts__list {
    @extend %list;
}

.contacts__link {
    @include link();
    @include fontType($weight: 400, $ls: 0.02em);

    &--header {
        @include link($color: getColor('text-secondary'));

        @include respondTo('medium') {
            @include centeredFlex($justify-content: flex-start);
        }

        @include respondTo('large') {
            @include relative(0);
            justify-content: center;
            @include fontType($weight: 500, $size: 14px, $ls: 0.02em);
            @include padding(32px, null, 32px, null);

            &::after {
                @include decorElement;
                @include transform(scaleX(0));
                  
                @include transition(transform, background-color);
            }

            &:hover::after, &:focus::after {
                @include transform(scaleX(1));
            }
        }

        &.header-mail {
            font-weight: 400;
            font-size: 25px;

            @include respondTo('little') {
                font-size: 28px;
            }
          
            @include respondTo('medium') {
                color: getColor('text-secondary');
                @include margin(null, null, 10px, null);
                font-size: 12px;
                @include hoFus() {
                    color: getColor('accent');
                }
            }
          
            @include respondTo('large') {
                @include margin(null, null, 0, null);
                font-size: 14px;
                text-align: center;
            }
        }
    
        &.header-tel {
            font-weight: 400;
            font-size: 25px;
            color: getColor('accent');
            @include margin(null, null, 30px, null);
            @include hoFus {
                color: getColor('mobile-link-hover');
            }
            
            @include respondTo('little') {
                font-weight: 500;
                font-size: 34px;
            }
    
            @include respondTo('medium') {
                color: getColor('text-secondary');
                margin: 0;
                font-size: 12px;
    
                @include hoFus {
                    color: getColor('accent');
                }
            }
    
            @include respondTo('large') {
                font-size: 14px;
            }
        }
    }

    &--footer {
        @include link($color: getColor('text-footer-contacts'));
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;

        @include respondTo('pre-large') {
            text-align: center;
        }

        &.footer-map {
            @include margin(null, null, 8px, null);
            color: getColor('text-tertiary');

            @include hoFus {
                color: getColor('accent');
            }
    
            @include respondTo('large') {
                @include margin(null, null, 9px, null);
            }
        }
    
        &.footer-mail {
            @include margin(null, null, 8px, null);
    
            @include respondTo('large') {
                @include margin(null, null, 9px, null);
            }
        }
    }
}

.contacts__icon {
    display: none;
  
    @include respondTo('medium') {
        display: block;
        fill: currentColor;
        @include margin(null, 8px, null, null);
    }
  
    @include respondTo('large') {
        @include margin(null, 10px, null, null);
    }
}