.features {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.features__title {
    @extend %visually-hidden;
}

.features__list {
    @extend %list;

    @media screen and (min-width: 1200px) {
        @include centeredFlex($align-items: flex-start);
    }
    
}

.features__item {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);

        & + & {
            margin-left: 30px;
        }
    }
}

.features__thumb {
    padding: 25px 0;
    margin-bottom: 30px;
    text-align: center;

    background-color: getColor('background-tertiary');

    border-radius: 4px;
}

.features__subtitle {
    @extend %margin-padding-reset;
    @include fontType($size: 14px, $transform: uppercase);
    margin-bottom: 10px;

    @media screen and (max-width: 479px) {
        text-align: center;
    }
}

.features__descr {
    @extend %margin-padding-reset;  
    @include fontType($weight: 400, $size: 14px, $lh: 1.714);
  
    color: getColor('text-secondary');
  }