.features__list {
    @include flexList($flex-wrap: nowrap, $flex-direction: column);
    align-items: flex-start;
    gap: 30px;

    @include respondTo('medium') {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respondTo('large') {
        flex-wrap: nowrap;    
    }
}

.features__item {
    
    @include respondTo('medium') {
        width: calc((100% - 30px) / 2);
    }

    @include respondTo('large') {
        width: calc((100% - 90px) / 4);
    }
}

.features__thumb {
    padding: 25px 0;
    margin-bottom: 30px;
    text-align: center;

    background-color: getColor('background-tertiary');
    @include rounded(4px);
}

.features__subtitle {
    @include textUpperCase($mb: 10px);

    @include respondTo('pre-medium') {
        text-align: center;
    }
}

.features__descr {
    @extend %margin-padding-reset;  
    @include fontType($weight: 400, $size: 14px, $lh: 1.714, $color: getColor('text-secondary'));
}