.feedback {
  @extend %list;
}

.feedback__link {
  @include link($display: inline-block);

  color: getColor('text-secondary');

  &.tel {
    @include fontType($weight: 500, $size: 34px, $ls: 0.02em);
    color: getColor('accent');
    margin-bottom: 32px;

    @include respond-to('tablet') {
      color: getColor('text-secondary');
      margin: 0;
      font-size: 12px;
    }

    @include respond-to('desktop') {
      font-size: 14px;
    }
  }

  &.mail {
    @include fontType($weight: 500, $size: 24px, $ls: 0.02em);

    @include respond-to('tablet') {
      margin-bottom: 10px;
      font-size: 12px;
    }

    @include respond-to('desktop') {
      margin-bottom: 0;
      font-size: 14px;
      text-align: center;
    }
  }

  @include respond-to('tablet') {
    &:hover, &:focus {
      color: getColor('accent');
    }
  }

  @include respond-to('desktop') {
    position: relative;
    @include fontType($weight: 500, $size: 14px, $ls: 0.02em);
    @include centeredFlex();
    padding: 32px 0;

    &::after {
      @include pseudo();
      bottom: -1px;

      height: 4px;

      background-color: getColor('accent');

      border-radius: 2px;

      transform: scaleX(0);
      transition: background-color 250ms $timing-function,
          transform 250ms $timing-function;
    }

    &:hover::after, &:focus::after {
      transform: scaleX(1);
    }
  }  
}

.feedback__icon {
  display: none;

  @include respond-to('tablet') {
    display: inline;
    fill: currentColor;
    margin-right: 8px;
  }

  @include respond-to('desktop') {
    margin-right: 10px;
  }
}