.form__call {
    @extend %margin-padding-reset;
    @include fontType($size: 20px, $align: center);
    @include margin(null, null, 12px, null);

    @include respondTo('large') {
        line-height: 1.5;
    }
}

.form__panel-list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    width: 100%;
}

.form__label {
    @extend %margin-padding-reset;
    @include fontType($weight: 400, $size: 12px, $ls: 0.01em, $color: getColor('text-secondary'));
    display: block;
    @include margin(null, null, 4px, null);
}

.form__field {
    @include relative(0);
}

.form__input {
    @include fontType($weight: 400, $size: 14px, $ls: 0.01em);
    @include inputText(12px, 12px, 12px, 42px)
}

.form__icon {
    @include absolute(top 50% left 12px);
    
    transform: translateY(-50%);
    @include transition(fill);

    .form__input:focus ~ & {
        fill: getColor('accent');
    }
}

.form__textarea {
    @include fontType($weight: 400, $size: 14px, $ls: 0.01em);
    @include inputText(12px, 16px, 12px, 16px);
    height: 120px;
}

.form__input::placeholder, 
.form__textarea::placeholder {
    @extend %margin-padding-reset;
    @include fontType($weight: 400, $size: 14px, $ls: 0.01em, $color: getColor('placeholder-modal'));
}

.form__checkbox {
    @include margin(20px, null, 30px, null);
}