.hero {
    text-align: center;
}

.hero__overlay {
    @include centeredFlex();
    @include centeredElement($maxwidth: 480px, $min-height: 400px);
    @include backgroundImageRetina($file: 'mobile-hero', $type: 'webp');

    @include respondTo('little') {
            max-width: 768px;
            @include backgroundImageRetina($file: 'tablet-hero', $type: 'webp');        
    }

    @include respondTo('medium') {
            max-width: 1600px;
            min-height: 600px;
            @include backgroundImageRetina($file: 'desktop-hero', $type: 'webp');    
    }
}

.hero__title {
    @include centeredElement($maxwidth: 360px, $min-height: max-content);
    @include fontType($weight: 900, $size: 26px, $lh: 1.615, $ls: 0.06em, $align: center, $transform: uppercase, $color: getColor('text-tertiary'));
    @include margin(null, null, 30px, null);

    @include respondTo('large') {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.363;
    }
}

.hero__button {
    @include margin(0, auto, 0, auto);

    @include respondTo('large') {
        width: 216px
    }
}