.logo {
  @include link($display: inline-block);
    font: {
      family: 'Raleway', sans-serif;
      size: 24px;
      weight: 700;
    }
  line-height: 1.174;
  padding: 16px 0;

  @include respond-to('medium') {
    display: block;
    padding: 0;
  }

  @include respond-to('large') {
    font-size: 26px;
    line-height: 1.383;
  }

  color: getColor('accent');

  &--black-piece {
    color: getColor('logo-header');
  }

  &--white-piece {
    color: getColor('logo-footer');
  }
}