.logo {
  @include link($display: inline-block);
  @include fontType($size: 24px, $lh: 1.174, $color: getColor('accent'));
  font-family: $logo-font-stack;
  padding: 16px 0;

  @include respondTo('medium') {
    display: block;
    padding: 0;
  }

  @include respondTo('large') {
    font-size: 26px;
    line-height: 1.383;
  }

  &--black-piece {
    color: getColor('logo-header');
  }

  &--white-piece {
    color: getColor('logo-footer');
  }
}