.mobile-container {
    @include centeredAbsolute(100vw, 100vh, 0, 0);

    background-color: getColor('background-primary');
    z-index: 999;

    transform: translateX(100%);
    @include transition(transform);

    &.is-open {
        transform: translateX(0); 
    }

    @include respondTo('medium') {
        display: none;
    }
}

.mobile-container__wrap {
    position: relative;
    @include centeredElement($maxwidth: 480px, $min-height: 100%);
    @include centeredFlex($align-items: normal);
    // @include relative(0);
    padding: 48px 40px;
    flex-direction: column;

    @include respondTo('pre-little') {
        padding: 55px 30px;
    }

    @include respondTo('small') {
        padding: 30px 15px;
    }
}

.mobile-container__mobile-menu {
    margin-bottom: auto;
}

.mobile-container__contacts {
    margin-bottom: 40px;

    @include respondTo('little') {
        margin-bottom: 64px;
    }

    @include respondTo('small') {
        margin-bottom: 35px;
        }
}