.mobile-network {
    @extend %list;
    display: flex;
}

.mobile-network__item {
    @include centeredFlex();
}

.mobile-network__link {
    @include link();
    @include fontType($weight: 400, $size: 12px, $lh: 1.222, $ls: 0.02em);
    color: getColor('accent');

    @include respond-to('mobile') {
        font-weight: 500;
        font-size: 18px;
    }
}

.mobile-network__line {
    @extend %margin-padding-reset;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}