.mobile-menu {
    @extend %list;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 20px;

  @include respondTo('little') {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
    @include link($display: inline-block);
    @include fontType($weight: 400, $size: 26px, $ls: 0.02em);
    transition: color 250ms $timing-function;

    @include hoFus {
      color: getColor('accent');
    }

    @include respondTo('little') {
      font-weight: 500;
      font-size: 30px;
    }

    @include respondTo('small') {
      font-size: 40px;
    }    
    
    &--current {
      color: getColor('accent');

      @include respondTo('large') {
        position: relative;
        @include centeredFlex();

        &::after {
          @include pseudo();
          bottom: -1px;

          height: 4px;

          background-color: getColor('accent');
          border-radius: 2px;
        }
      }
    }
}
