.mobile-container {
    @include centeredAbsolute($position: fixed, $width: 100vw, $height: 100vh, $top: 0, $left: 0);

    background-color: getColor('background-primary');
    z-index: 999;

    @extend %is-hidden;
    @include transform(translateX(100%));
    @include transition(transform, opacity, visibility);

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        transform: translateX(0); 
    }

    @include respondTo('medium') {
        display: none;
    }
}

.mobile-container__wrap {
    @include relative(0);
    @include centeredElement($maxwidth: 480px, $min-height: 100%);
    @include centeredFlex($align-items: normal);
    @include padding(48px, 40px, 48px, 40px);
    flex-direction: column;

    @include respondTo('pre-little') {
        @include padding(55px, 30px, 55px, 30px);
    }

    @include respondTo('small') {
        @include padding(30px, 15px, 30px, 15px);
    }
}

.mobile-container__mobile-menu {
    @include margin(null, null, auto, null);
}

.mobile-container__contacts {
    @include margin(null, null, 40px, null);

    @include respondTo('little') {
        @include margin(null, null, 64px, null);
    }

    @include respondTo('small') {
        @include margin(null, null, 32px, null);
    }
}