.mobile-network {
    @extend %margin-padding-reset;
    display: flex;
}

.mobile-network__item {
    @include centeredFlex();
}

.mobile-network__link {
    @include link();
    @include fontType($weight: 400, $size: 12px, $lh: 1.222, $ls: 0.02em, $color: getColor('accent'));

    @include respondTo('little') {
        font-weight: 500;
        font-size: 18px;
    }

    @include respondTo('small') {
        font-weight: 400;
        font-size: 15px;
    }
}

.mobile-network__line {
    @extend %margin-padding-reset;
    width: 22px;
    height: 0;
    @include borderStyle($color: getColor('border-modal-input'), $rad: 0);
    transform: rotate(90deg);
}