.mobile-container {
    @include centeredAbsolute($position: fixed, $width: 100vw, $height: 100vh, $top: 0, $left: 0);

    background-color: getColor('background-primary');
    z-index: 999;

    @extend %is-hidden;
    @include transform(translateX(100%));
    @include transition(transform, opacity, visibility);

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        @include transform(translateX(0));
    }

    @include respondTo('medium') {
        display: none;
    }
}

.mobile-container__wrap {
    @include relative(0);
    @include centeredElement($maxwidth: 480px);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    @include padding(48px, 40px, 48px, 40px);

    @include respondTo('pre-little') {
        @include padding(55px, 30px, 55px, 30px);
    }
}

.mobile-container__mobile-menu {
    margin-bottom: auto;
}

.mobile-container__contacts {
    @include margin(0, 0, 40px, 0);

    @include respondTo('little') {
        @include margin(null, null, 64px, null);
    }
}