.modal-container {
    width: 450px;
    padding: 40px;
  
    background-color: getColor('background-primary');
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translateX(-50%) scale(1) rotate(0);
    transition: transform 250ms $timing-function;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.5) rotate(180deg);
    }

    @include respondTo('pre-little') {
        width: 320px;
    }

    @include respondTo('large') {
        width: 528px;

        transform: translate(-50%, -50%);
    }
}

.modal-container__form {
    @include centeredFlex();
    flex-direction: column;
}

.modal-container__button {
    position: absolute;
    top: 8px;
    right: 8px;
  
    @include centeredFlex();
  
    padding: 6px;
    cursor: pointer;
    border: none;
  
    fill: getColor('button-modal-close');
    background-color: getColor('background-primary');
  
    @include borderStyle($color: getColor('border-button-close'), $rad: 50%);
  
    transition: color 250ms $timing-function;

    @include hoFus {
        color: getColor('accent');
    }
}

.modal-container__icon {
    @extend %icon;
}