.navigation__wrap {
  @include centeredFlex($justify-content: space-between);
}

.navigation__button {
  @include centeredFlex();
  @include controlBtn($width: 40px, $height: 40px, $color: getColor('button-mobile-menu'));

  @include hoFus {
    fill: getColor('accent')
  }

  .mobile-container & {
    @include absolute(top 10px right 15px);
    color: currentColor;
  }

  @include respondTo('medium') {
    display: none;
  }
}

.navigation__container {
  display: none;

  @include respondTo('medium') {
    @include centeredFlex();
    @include margin(null, null, null, auto);

    @include respondTo('large') {
      @include margin(null, null, null, 93px);
      flex-grow: 1;
    }
  }
}

.navigation__list {
  @extend %list;
  @include pageList($fwrap: nowrap, $gap: 50px);
  @include margin(null, 95px, null, null);

  @include respondTo('large') {
    @include margin(null, auto, null, null);  
  }
}

.navigation__link {
  @include link();
  @include fontType($weight: 500, $size: 14px, $ls: 0.02em);
  @include padding(32px, null, 32px, null);

  &--current {
    @include relative(0);
    @include centeredFlex();
    color: getColor('accent');

    &::after {
      @include decorElement;
    }
  }
}