.navigation__wrap {
  @include centeredFlex($justify-content: space-between);
}

.navigation__button {
  @extend %button;
  @include centeredFlex();
  width: 40px;
  height: 40px;

  color: getColor('button-mobile-menu');
  background-color: transparent;
  outline: none;

  &:hover, &:focus {
    fill: getColor('accent')
  }

  .mobile-container & {
    position: absolute;
    top: 10px;
    right: 15px;
    color: currentColor;
  }

  @include respond-to('medium') {
    display: none;
  }
}

.navigation__container {
  display: none;

  @include respond-to('medium') {
    @include centeredFlex();
    margin-left: auto;

    @include respond-to('large') {
      margin-left: 93px;
      flex-grow: 1;
    }
  }
}

.navigation__list {
    @extend %list;
    @include centeredFlex();
    margin-right: 95px;

    @include respond-to('large') {
      margin-right: auto;    
    }
}

.navigation__item {
    
    & + & {
        margin-left: 50px;
  }
}

.navigation__link {
  @include link();
  @include fontType($weight: 500, $size: 14px, $ls: 0.02em);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms $timing-function;

    &:hover, &:focus {
      color: getColor('accent');
    }

    &--current {
      position: relative;
      @include centeredFlex();

      color: getColor('accent');

        &::after {
          @include pseudo();
          bottom: -1px;

          height: 4px;

          background-color: getColor('accent');
          border-radius: 2px;
        }
    }
}

.navigation__feedback {
  @extend %list;
  
  @include respond-to('large') {
    @include centeredFlex();
    gap: 50px;
  }
}

