.page-footer__box {    
    
    @include respondTo('large') {
        @include centeredFlex($justify-content: space-between, $align-items: baseline);
    }
}

.page-footer__info {

    @include respondTo('medium') {
        @include centeredFlex($justify-content: space-between, $align-items: baseline);
        margin-bottom: 60px;
    }

    @include respondTo('large') {
        margin-bottom: 0;
    }
}

.page-footer__wrap {
    text-align: center;
    margin-bottom: 60px;

    @include respondTo('medium') {
        margin-bottom: 0;
    }

    @include respondTo('large') {
        margin-right: 70px;
        text-align: left;
    }
}

.page-footer__logo {
    @extend .logo;
    display: inline-block;
    margin-bottom: 20px;
}

.page-footer__contacts {
    font-style: normal; 
}

.page-footer__item {
    @include respondTo('large') {
        width: 231px;
    }
}

.page-footer__socials {
    margin-bottom: 60px;

    @include respondTo('medium') {
        margin-bottom: 0;
    }
    
    @include respondTo('large') {
        margin-right: 93px;
    }
}