.projects__filters-list {
    @include flexList();
    justify-content: flex-start;
    gap: 15px 8px;
    @include margin(null, null, 40px, null);
    color: getColor('text-primary');

    @include respondTo('medium') {
        justify-content: center;
        gap: 8px;
        @include margin(null, null, 30px, null);
    }

    @include respondTo('large') {
        @include margin(null, null, 50px, null);
    }
}

.projects__filters-button {
    @include buttonSize($weight: 500, $padding-y: 6px, $padding-x: 22px, $font-size: 16px, $line-height: 1.625, $bgc: getColor('background-tertiary'), $border-radius: 4px);
    @include transition(background-color, color, box-shadow);
    
    @include hoFus {
        color: getColor('text-tertiary');
        background-color: getColor('accent');
        @include boxShadow(2);
    }

    &--current {
        color: getColor('text-tertiary');
        background-color: getColor('accent');
    }
}