.socials__call {
    @include footerCalls;

    @include respondTo('pre-medium') {
        text-align: center;
    }
}

.socials__list {
    @include flexList($flex-wrap: nowrap);
    gap: 10px;
}

.socials__link {
    @include centeredFlex();
    @include socialLinks($color: getColor('link-nonactive'), $background: getColor('background-primary'));

    @include hoFus {
        background-color: getColor('accent');
        color: getColor('social-icons-white')
    }
}

.socials__icon {
    @extend %icon;
}