.subscription__call {
    @include fontType($size: 14px, $transform: uppercase);

    display: block;
    margin-bottom: 20px;
  
    color: getColor('text-tertiary');

    @include respond-to('tablet-end') {
        text-align: center;
    }
}

.subscription__form {
    @extend %margin-padding-reset;

    @include respond-to('mobile-end') {
        text-align: center;
    }

    @include respond-to('tablet') {
        @include centeredFlex();
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    @include respond-to('desktop') {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 12px;
    }
}

.subscription__label {
   @extend %visually-hidden;
}

.subscription__input {
    padding: 15px;
    width: 100%;
    max-width: 450px;
  
    color: getColor('text-tertiary');
    background-color: getColor('background-secondary');
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
      
        color: getColor('placeholder-footer');      
    }

    @include respond-to('mobile-end') {
        margin-bottom: 20px;
    }

    @include respond-to('desktop') {
        width: 358px;
        margin-bottom: 0;
    }
}

.subscription__button {
    @include buttonPrimary();
    @include centeredFlex();
    margin: 0 auto;

    &:hover, &:focus {
        background-color: getColor('primary-button-hover');
    }
}

.subscription__icon {
    @extend %icon;
    margin-left: 10px;
}