.subscription__call {
    @include textUpperCase($color: getColor('text-tertiary'), $mb: 20px);
    display: block;

    @include respondTo('pre-large') {
        text-align: center;
    }
}

.subscription__form {
    @extend %margin-padding-reset;

    @include respondTo('medium') {
        @include flexList($flex-direction: column);
        gap: 20px;
    }

    @include respondTo('large') {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 12px;
    }
}

.subscription__input {
    max-width: 450px;  
    @include inputText(15px, 15px, 15px, 15px, getColor('background-secondary'), getColor('text-tertiary'));
    border-color: getColor('border-subscr-input');
    @include boxShadow(4);

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
      
        color: getColor('placeholder-footer');      
    }

    @include respondTo('pre-medium') {
        @include margin(null, null, 20px, null);
    }

    @include respondTo('large') {
        width: 358px;
        @include margin(null, null, 0, null);
    }
}

.subscription__button {
    @include margin(0, auto, 0, auto);
}

.subscription__icon {
    @extend %icon;
    @include margin(null, null, null, 10px);
}