.team__list {
    @include flexList($flex-direction: column);
    gap: 30px;

    @include respondTo('medium') {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respondTo('large') {
        flex-wrap: nowrap;
    }
}

.team__item {
    
    @include respondTo('medium') {
        width: calc((100% - 30px) / 2);
    }

    @include respondTo('large') {
        width: calc((100% - 90px) / 4);
    }
}

.team__wrap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__meta {
    padding-top: 30px;
    padding-bottom: 24px;
  
    background-color: getColor('background-primary');
  
    border-radius: 0px 0px 4px 4px;

    @include respondTo('large') {
        padding-bottom: 30px;
    }
}

.team__name {
    @extend %margin-padding-reset;
    @include fontType($weight: 500, $align: center);
    margin-bottom: 10px;
}

.team__descr {
    @extend %margin-padding-reset;
    @include fontType($weight: 400, $align: center, $transform: capitalize, $color: getColor('text-secondary'));
    margin-bottom: 16px;
}

.team__icon {
    @extend %icon;
    @include transition(fill);
}