.team__list {
    @include flexList($flex-direction: column);
    gap: 30px;

    @include respondTo('medium') {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respondTo('large') {
        flex-wrap: nowrap;
    }
}

.team__item {
    
    @include respondTo('medium') {
        width: calc((100% - 30px) / 2);
    }

    @include respondTo('large') {
        width: calc((100% - 90px) / 4);
    }
}

.team__wrap {
    @include boxShadow(1);
    @include rounded(0px 0px 4px 4px);
}

.team__meta {
    @include padding(30px, null, 24px, null);
    background-color: getColor('background-primary');
  
    @include rounded(0px 0px 4px 4px);

    @include respondTo('large') {
        padding-bottom: 30px;
    }
}

.team__name {
    @extend %margin-padding-reset;
    @include fontType($weight: 500, $align: center);
    @include margin(null, null, 10px, null);
}

.team__descr {
    @extend %margin-padding-reset;
    @include fontType($weight: 400, $align: center, $transform: capitalize, $color: getColor('text-secondary'));
    @include margin(null, null, 16px, null);
}

.team__icon {
    @extend %icon;
    @include transition(fill);
}