.page {
    box-sizing: border-box;
    font-family: $text-font-stack;
    color: getColor('text-primary');
    background-color: getColor('background-primary');
    
    &.modal-open {
        overflow: hidden;
      }
}