//Міксин, який виводить необхідну точку злому 
@mixin respondTo($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      @media #{inspect(map-get($breakpoints, $breakpoint))} {
          @content;
      }
  }

  @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Міксини позиціонування--------------------------------
@mixin position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
   
    @if $i and $i + 1<= length($args) and type-of(nth($args, $i + 1)) == number  {
      #{$o}: nth($args, $i + 1);
    }
  }
  position: $position;
}
   
@mixin absolute ($args) {
  @include position(absolute, $args);
}
   
@mixin fixed ($args) {
  @include position(fixed, $args);
}
   
@mixin relative ($args) {
  @include position(relative, $args);
}

// Міксини центрування--------------------------------------
// Міксин центрування за абсолютним позиціонуванням
@mixin centeredAbsolute ($width, $height, $top: 50%, $left: 50%) {
  position: absolute;
  left: $left;
  top: $top;
  height: $height;
  width: $width;
}

// Міксин центрування елементів, заголовків та підзаголовків
@mixin centeredElement ($maxwidth, $min-height) {
  @extend %margin-padding-reset;
  margin-left: auto;
  margin-right: auto;
  max-width: $maxwidth;
  min-height: $min-height;
}

// Міксин центрування за флексом
@mixin centeredFlex ($type: flex, $justify-content: center, $align-items: center) {
  display: $type;
  justify-content: $justify-content;
  align-items: $align-items;
}

// Міксин списків------------------------------------------
// Міксин для списків у флекс-контейнері
@mixin flexList ($flex-wrap: wrap, $flex-direction: row) {
  @extend %margin-padding-reset;
  @include centeredFlex();
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
  list-style: none;
}

// Міксини псевдо-------------------------------------------
// Загальний міксин псевдоелементів
@mixin pseudo ($display: block, $width: 100%){
    @include absolute(0);
    content: '';
    display: $display;
    width: $width;
}

// Міксин псевдокласів ховеру та фокусу
@mixin hoFus {
  &:hover,
   &:focus {
    @content;
  }
}

// Міксини переходів та анімації-----------------------------
// Міксин для transition
@mixin transition ($props...) {
  -webkit-transition-property: $props;    
  -o-transition-property: $props;    
  transition-property: $props;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
     transition-duration: 250ms; 
-webkit-transition-timing-function: $timing-function; 
  -o-transition-timing-function: $timing-function; 
     transition-timing-function: $timing-function;
}

// // Міксин translate-opacity
// @mixin transformOpacity () {
//   transform: $transform;
//   opacity: $opacity;
// }

// Міксини стилей посилань-----------------------------------
// Загальний міксин посилань
@mixin link ($display: block, $decor: none, $color: inherit) {
    text-decoration: $decor;
    color: $color;
    display: $display;
    @include transition(color);
    @include hoFus() {
      color: getColor('accent');
    }
}

// Міксин для іконок-посилань на соцмережі
@mixin socialLinks ($width: 44px, $height: 44px, $color, $background) {
    width: $width;
    height: $height;
    color: $color;
    background-color: $background;
    border-radius: 50%;
    @include transition(color, background-color)
}

// Міксини кнопок-------------------------------------------
// Міксин розміру та стилей кнопки
@mixin buttonSize ($weight, $padding-y, $padding-x, $font-size, $line-height, $bgc, $border-radius) {
  font-weight: $weight;
  padding: $padding-y $padding-x;
  font-size: $font-size;
  line-height: $line-height;
  background-color: $bgc;
  border: none;
  cursor: pointer;
  // Manually declare to provide an override to the browser default
  @if $enable-rounded {
    border-radius: $border-radius;
  } @else {
    border-radius: 0;
  }
}

// Міксин стилей головної кнопки
@mixin buttonPrimary ($width: 200px, $height: 50px, $letter-spacing: 0.06em, $color: getColor('text-tertiary')) {
  @include buttonSize(700, 0, 0, 16px, 1.875, getColor('accent'), 4px);
  width: $width;
  height: $height;
  letter-spacing: $letter-spacing;
  color: $color;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include transition(background-color, box-shadow);
  @include hoFus() {
    background-color: getColor('primary-button-hover')
  }
}

// Міксин кнопок управління
@mixin controlBtn ($width: auto, $height: auto, $padding-y: 0, $padding-x: 0, $color, $bgc: transparent, $border: none, $outline: none) {
  width: $width;
  height: $height;
  padding: $padding-y $padding-x;
  color: $color;
  background-color: $bgc;
  cursor: pointer;
  border: $border;
  outline: $outline;
  @include transition(color);
}

// Міксини декоративних елементів----------------------------
// Міксин радіуса бордера
@mixin rounded($radius...) {
  -webkit-border-radius: $radius; 
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Міксин стилей бордера
@mixin borderStyle ($width: 1px, $style: solid, $color, $rad: 4px) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
  border-radius: $rad;
}

// Міксин box-shadow
@mixin boxShadow ($type) {
  @if $type == 1 {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  } @else if $type == 2 {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  } @else if $type == 3 {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  } @else if $type == 4 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}

// Міксин псевдоелементів підкреслення

// Міксини форм-----------------------------------------------
// Міксин стилей input, textarea
@mixin inputText($padding-t, $padding-r, $padding-b, $padding-l, $bgc: getColor('background-primary'), $color: inherit) {
  @extend %margin-padding-reset;
  display: block;
  width: 100%;
  padding: $padding-t $padding-r $padding-b $padding-l;
  font-family: inherit;
  resize: none;
  background-color: $bgc;
  color: $color;
  @include borderStyle($color: getColor('border-modal-input'));
  @include transition(border);
  &:focus {
    border-color: getColor('accent');
    outline: none;
  }
}

// Міксини шрифтів--------------------------------------------
// Міксин стилей шрифту
@mixin fontType ($weight: 700, $size: 16px, $lh: 1.172, $ls: 0.03em, $align: start, $transform: none, $color: inherit) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
    text-align: $align;
    text-transform: $transform;
    color: $color;
}

// .activity__title, .clients__title, .team__title
// font-size: 36px; line-height: 1.172; text-align: center; mb:50px;

// .form__call
// font-size: 20px; line-height: 1.172; margin-bottom: 12px;

// .projects__name
// font-size: 18px; line-height: 2; letter-spacing: 0.06em; text-transform: capitalize;

// .projects__label
// font-weight: 400; font-size: 18px; line-height: 1.556; letter-spacing: inherit;

// .hero__button, .form__button, .subscription__button
// font-weight: 700; font-size: 16px; line-height: 1.875; letter-spacing: 0.06em; text-align: center; font-family: inherit; 

// .projects__filters-button
// font-weight: 500; font-size: 16px; line-height: 1.625; letter-spacing: inherit; text-align: center;

// .team__name
// font-weight: 500; font-size: 16px; line-height: 1.172; text-align: center;

// .projects__category
// font-size: 16px; line-height: 1.875;

// .subscription__input::placeholder
// font-size: 16px; line-height: 1.25;

// .team__descr
// font-size: 16px; line-height: 1.172; text-align: center; text-transform: capitalize;

// .activity__label, .features__subtitle, .socials__call, .subscription__call
// font-weight: 700; font-size: 14px; line-height: 1.172; text-transform: uppercase;

// .feedback__link, navigation__link
// font-weight: 500; font-size: 14px; line-height: 1.172; letter-spacing: 0.02em;

// .address__link, .checkbox__label,  .features__descr
// font-size: 14px; line-height: 1.714;

// .form__label, .form__input, .form__textarea, .form__input::placeholder, .form__textarea::placeholder
// font-size: 12px; line-height: 1.172; letter-spacing: 0.01em;

// Міксин підзаголовків прописними літерами
@mixin textUpperCase ($color: inherit, $mb) {
    @extend %margin-padding-reset;
    @include fontType($size: 14px, $transform: uppercase);
    color: $color;
    margin-bottom: $mb;
}

/// Mixin to prefix a property
/// @author Kitty Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}