%list {
  @extend %margine-padding-reset;
  list-style: none;
}

%picture {
  display: block;
  max-width: 100%;
  height: auto;
} 

%margine-padding-reset {
  margin: 0;
  padding: 0;
}

%button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

%icon {
  fill: currentColor;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

%sec-title-margin {
  margin-bottom: 50px;
}