%margin-padding-reset {
  margin: 0;
  padding: 0;
}

%list {
  @extend %margin-padding-reset;
  list-style: none;
}

%icon {
  fill: currentColor;
}

%is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

%transit-values {
  transition-duration: 250ms; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  -moz-transition-duration: 250ms;
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%appearance {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}